{% extends "AppBundle::layout.html.twig" %}

{% block breadcrumb %}
    {{parent()}} > <a href="{{path('filrouge_project_list')}}">Projets</a>
{% endblock breadcrumb %}

{% block left %}
    
    <div class="blockGeneral">
        <h2 class="icoSearch">Rechercher un projet</h2>
        <div class="blockContent">
            Bla bla bla...
        </div>
    </div>
    
    <div class="blockGeneral">
        <h2 class="icoProject">Tous les Projets</h2>
        <div class="blockContent">
            {% for project in projects %}
                {% include('AppBundle:Project:layoutproject.html.twig') %}
            {% endfor %}
            <div class="pagination">
                {% if projects |length != 0 %}
                    {% include 'AppBundle::pagination.html.twig' %}
                {% endif %}
            </div>
            <div class="clear"></div>
        </div>
    </div>
    <div class="projectNew">
        <a href="{{path('filrouge_project_add')}}" class="btnAction">> Créer un nouveau projet</a>
    </div>
      
{% endblock left %}

{% block javascripts %}
    {{parent()}}
    <script type="text/javascript">
    $(document).ready(function() {
        $('.collapsible').collapsible({
            defaultOpen: 'section1',
            speed: 300
        });
    });
    </script>
{% endblock %}