{% extends "AppBundle::layout.html.twig" %}

{% block breadcrumb %}
    {{parent()}} > <a href="{{path('filrouge_project_list')}}">Projets</a>
{% endblock breadcrumb %}

{% block left %}
    
    <div class="blockGeneral">
        <h2 class="icoSearch">Rechercher un projet</h2>
        <div class="clear"></div>
        <div class="blockContent">
            Bla bla bla...
        </div>
    </div>
    
    <div class="blockGeneral">
        <h2 class="icoProject">Tous les Projets</h2>
        <div class="clear"></div>
        <div class="blockContent">
            <div id="accordionProjectList">
                {% for project in projects %}
                    {% include('AppBundle:Project:layoutproject.html.twig') %}
                {% endfor %}
            </div>
            <div class="pagination">
                {% include 'AppBundle::pagination.html.twig' %}
            </div>
            <div class="clear"></div>
        </div>
    </div>
    <div class="projectNew">
        <a href="{{path('filrouge_project_add')}}" class="btnAction">> Créer un nouveau projet</a>
    </div>
      
{% endblock left %}

{% block javascripts %}
    {{parent()}}
    <script>$(function() { $( "#accordionProjectList" ).accordion(); });</script>
{% endblock %}