{% extends "::base.html.twig" %}

{% block title %}IMIE - Fil Rouge{% endblock title %}

{% block breadcrumb %}
    <a href="{{path('filrouge_homepage')}}">Accueil</a>
{% endblock breadcrumb %}

{% block content %}
    <div class="container">

        <div id="left">
            {% block left %}
            {% endblock left %}
        </div>
        
        {% if is_granted('ROLE_USER') %}
            <aside>
                {% block right %}
                    {{ render(controller('AppBundle:Default:aside', {
                        'nbRecrut': 5,
                        'nbNotif': 5
                    })) }}
                {% endblock right %} 
            </aside>
        {% endif %}
        
        <div class="clear"></div>     
    </div>
{% endblock content %}