{% extends "::base.html.twig" %}

{% block breadcrumb %}
    <a href="{{path('filrouge_homepage')}}">Accueil</a>
{% endblock breadcrumb %}

{% block content %}
    <div class="container">
        <div id="left">
            {% block left %}
            {% endblock left %}
        </div>      
        {% if is_granted('ROLE_USER') %}
            <aside>
                {% block right %}
                    {{ render(controller('AppBundle:Default:aside', {
                        'id': app.user.id
                    })) }}
                {% endblock right %} 
            </aside>           
        {% endif %} 
        <div class="clear"></div>     
    </div>
{% endblock content %}