 <div class="pagination">
    <div class="pagination-buttons">
        {% if pagination.page>1 %}
            <a href="{{ path(pagination.route, pagination.route_params|merge({'page': pagination.page-1})) }}">
                <img alt="Page précédente" src="{{asset('bundles/app/images/pag_before.png')}}" />
            </a>
        {% endif %}
        {% if pagination.page<pagination.pages_count %}
            <a href="{{ path(pagination.route, pagination.route_params|merge({'page': pagination.page+1})) }}">
                <img alt="Page suivante" src="{{asset('bundles/app/images/pag_after.png')}}" />
            </a>
        {% endif %}
    </div>
</div>
      