{% extends "AppBundle::layout.html.twig" %}

{% block title %}{{parent()}}Connexion{% endblock title %}

{% block breadcrumb %}
{% endblock breadcrumb %}

{% block left %} 
    <div id="contentFormLogin">
        <h2 class="icoLogin">CONNEXION</h2>
        <div id="formLogin"> 
            <form action="{{ path('login_check') }}" method="post">
                <p>
                    <label for="username">Login</label>
                    <input type="text" id="username" name="_username" value="{{ last_username }}" required />
                </p>
                <p>
                    <label for="password">Mot de passe</label>
                    <input type="password" id="password" name="_password" required />
                </p>
                <button type="submit" class="btnAction login">se connecter</button>
                <div class="clear"></div>
            </form>
            {% if error %}
                <div>{{ error.message }}</div>
            {% endif %}
        </div>
    </div>            
{% endblock left %}

