{% extends "AppBundle::layout.html.twig" %}


{% block title %}
       Tous les profils
{% endblock title %}

{% block breadcrumb %}
    {{parent()}} > <a href="{{path('filrouge_user_list')}}">Profils</a>
{% endblock breadcrumb %}

{% block left %}
    
    <div class="blockGeneral">
        <h2 class="icoSearch">Rechercher un profil</h2>
        <div class="blockContent">
            Bla bla bla...
        </div>
    </div>
    
    <div class="blockGeneral">
        <h2 class="icoProject">Tous les Profils</h2>
        <div class="blockContent">
                {% for user in users %}
                    {% include('AppBundle:User:userlayout.html.twig') %}
                {% endfor %}
            <div class="pagination">
                {% if users |length != 0 %}
                    {% include 'AppBundle::pagination.html.twig' %}
                {% endif %}
            </div>
            <div class="clear"></div>
        </div>
    </div>
    
   
{% endblock left %}

{% block javascripts %}
    {{parent()}}
    <script type="text/javascript">
    $(document).ready(function() {
        $('.collapsible').collapsible({
            defaultOpen: 'section1',
            speed: 300
        });
    });
    </script>
{% endblock %}