<div class="name">
    {{ user.lastName ~ " " ~ user.firstName }}
</div>
<div class="information">
    {% if (user.promotions|length != 0) %}      
        {% for promotion in user.promotions %} 
            {% if loop.index < 3 %} 
                {{promotion.name ~ ' - ' ~ promotion.school.name}} /
            {% elseif loop.index == 3 %}
                ...
            {% endif %}
        {% endfor %} 
    {% else %}
        Staff
    {% endif %}
</div>
