<div class="collapsible" id="section{{loop.index}}">
    <div class="ico">
        <span></span>
    </div>
    {% include('AppBundle:User:userheaderlayout.html.twig') %}
    <div class="status">
        {% if user.availability == true %}
            <h5 class="greenRightUser">Disponible</h5>
        {% elseif user.availability == false %}
            <h5 class="redRightUser">Indisponible</h5>
        {% endif %}
    </div>
    <div class="clear"></div>
</div>
<div class="container">
    <div class="content">
        <div class="bodyBlock">
            {% include('AppBundle:User:userskilllayout.html.twig') %}  
            <div>
                <h4>Nombre de projets attribués : {{ user.worksOnProjects|length }}</h4>
            </div>
            <div class="btnLeft">              
                <a href=" {{path('filrouge_user_detail', {'id': user.id } )}} " class="btnAction userSeeMore">voir le profil</a>
            </div>
        </div>
    </div>
    <div class="clear"></div>
</div>
