{% include('AppBundle:User:userHeader.html.twig') %}

<div>
    {% if (user.userSkills|length !=0) %}
       {% for userSkill in user.userSkills %} {{userSkill.skill.name ~ ' - ' ~ userSkill.level}} {% endfor %}
    {% else %}
        {{ "Incompétent(e)!" }}  
    {% endif %}
</div>

Nombre de projets en cours : {{ user.worksOnProjects|length }}



<a href="{{path('filrouge_user_detail', {'id': user.id})}}">
    <button> Voir le profil </button>
</a>


