<div class="name">
    <span class="nameStrong">{{ user.lastName ~ " " ~ user.firstName }}</span>
</div>
<div class="information">
    {% if (user.promotions|length != 0) %}
       {% for promotion in user.promotions %} {{promotion.name ~ ' - ' ~ promotion.school.name}} {% endfor %} 
    {% else %}
        Staff
    {% endif %}
</div>
