{% extends "AppBundle::layout.html.twig" %}

{% block title %}Contact administrateur{% endblock title %}

{% block breadcrumb %}
    {{parent()}} > <a href="{{path('filrouge_contactAdmin')}}">Contact administrateur</a>
{% endblock breadcrumb %}

{% block left %}
    
    <div class="blockGeneral">
        <h2 class="icoMail">Contact</h2>
        <div class="blockContent">
            <h3>Contacter l'administrateur du site</h3>
            {% if message is defined %}
                <span class="message">{{ message }}</span>
            {% endif %}
            <div class="formContact">
                <form action="{{ path('filrouge_contactAdmin_send', {'id': app.user.id }) }}" method="POST">              
                    <h4><label for="title">Objet du message</label></h4>
                    <input type="text" id="title" name="title" required>
                    <h4><label for="message">Message</label></h4>
                    <textarea id="message" name="message" required></textarea>
                    <button type="submit" class="btnAction">> Envoyer</button>
                </form>
                <div class="clear"></div>
            </div>
        </div>
    </div>

{% endblock left %}
