{% extends "AppBundle::layout.html.twig" %}

{% block title %}{{parent()}}Accueil{% endblock title %}

{% block left %}
    <div class="blockGeneral">
        <h2 class="icoProject">Mes projets</h2>
        <div class="blockContent">
            {% include('AppBundle:Default:layoutmyprojectindex.html.twig') %}
        </div>
    </div>  
    <div class="blockGeneral">
        <h2 class="icoProject">Tous les projets</h2>
        <div class="blockContent">
            {% include('AppBundle:Default:layoutprojectsindex.html.twig') %}
        </div>
    </div>
{% endblock left %}

{% block javascripts %}
    {{parent()}}
    <script type="text/javascript">
    $(document).ready(function() {
        $('.collapsible').collapsible({
            defaultOpen: 'section1',
            speed: 300
        });
    });
    </script>
{% endblock %}


