{% extends "AppBundle::layout.html.twig" %}

{% block title %} Bienvenue {% endblock title %}

{% block left %}

    <div class="blockGeneral">
        <h2 class="icoProject">Mes projets</h2>
        <div class="clear"></div>
        <div class="blockContent">
            {% for project in projects %}
                {% include('AppBundle:Project:layoutproject.html.twig') %}
            {% endfor %}
            <div class="pagination">
                <img alt="Page précédente" src="{{asset('bundles/app/images/pag_before.png')}}" />
                <img alt="Page suivante" src="{{asset('bundles/app/images/pag_after.png')}}" />
            </div>
            <div class="clear"></div>
        </div>
    </div>
    
    <div class="blockGeneral">
        <h2 class="icoProject">Tous les projets</h2>
        <div class="clear"></div>
        <div class="blockContent">
            {% for project in projects %}
                {% include('AppBundle:Project:layoutproject.html.twig') %}
            {% endfor %}
            <div class="pagination">
                <img alt="Page précédente" src="{{asset('bundles/app/images/pag_before.png')}}" />
                <img alt="Page suivante" src="{{asset('bundles/app/images/pag_after.png')}}" />
            </div>
            <div class="clear"></div>
        </div>
    </div>
  
{% endblock left %}


