{% if myProjects |length != 0 %}
    {% set myProject = true %}
    {% for project in myProjects %} 
        {% include('AppBundle:Project:layoutproject.html.twig') %}
    {% endfor %}
{% else %}
    <h4>Vous ne travaillez sur aucun projet.</h4>
{% endif %}
<div class="pagination">
    <div class="pagination-buttons">
        {% if myProjects |length != 0 %}
            {% if pagination.pageMP>1 %}
                <a href="{{ path(pagination.route, pagination.route_params|merge({'pageMP': pagination.pageMP-1})) }}">
                    <img alt="Page précédente" src="{{asset('bundles/app/images/pag_before.png')}}" />
                </a>
            {% endif %}
            {% if pagination.pageMP<pagination.pagesMP_count %}
                <a href="{{ path(pagination.route, pagination.route_params|merge({'pageMP': pagination.pageMP+1})) }}">
                    <img alt="Page suivante" src="{{asset('bundles/app/images/pag_after.png')}}" />
                </a>>
            {% endif %}
        {% endif %}
    </div>
</div>
<div class="clear"></div>