{% if projects |length != 0 %}
    {% for project in projects %}
        {% include('AppBundle:Project:layoutproject.html.twig') %}
    {% endfor %}
{% else %}
    <h4>Il n'y a aucun projet sur le site.</h4>
{% endif %}
<div class="pagination">
    <div class="pagination-buttons">
        {% if projects |length != 0 %}
            {% if pagination.page>1 %}
                <a href="{{ path(pagination.route, pagination.route_params|merge({'page': pagination.page-1})) }}">
                    <img alt="Page précédente" src="{{asset('bundles/app/images/pag_before.png')}}" />
                </a>
            {% endif %}
            {% if pagination.page<pagination.pages_count %}
                <a href="{{ path(pagination.route, pagination.route_params|merge({'page': pagination.page+1})) }}">
                    <img alt="Page suivante" src="{{asset('bundles/app/images/pag_after.png')}}" />
                </a>
            {% endif %}
        {% endif %}
    </div>
</div>
<div class="clear"></div>